<?xml version="1.0"?>
<!--
/**
 * Copyright © Develo Design. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="develo" translate="label" sortOrder="500">
            <label>Develo</label>
        </tab>
        <section id="develo_cloudflare_video"
                 translate="label"
                 type="text"
                 sortOrder="100"
                 showInDefault="1"
                 showInWebsite="0"
                 showInStore="0">
            <label>Cloudflare Video</label>
            <tab>develo</tab>
            <resource>Develo_CloudflareVideo::config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="customer_code"
                       translate="label comment"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Customer Code</label>
                    <comment><![CDATA[The Cloudflare Stream customer code (the customer-<code> prefix).
                        Leave blank to use the legacy iframe.videodelivery.net format.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
